/*Nav Bar*/
body {
    width: 100%;
    margin: 0px;
}
header {
    width: 100%;
    
}
nav {
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
}
.fa-shopping-bag {
    color: white;
}
.fa-user-o {
    color: white;
}
.fa-heart-o {
    color: white;
}
svg {
    padding-top: 4px;
}
path {
    fill: white;
}
polygon {
    fill: white;
}
ul {
    color: white;
}
li {
    display: inline-block;
}
#logo {
    margin-left: 45px;
}
.navigation li {
    padding-left: 12px;
    font-size: 0.75em;
}
.search {
    margin: auto 15px auto 25px;
}
.user li {
    padding-left: 15px;
}
.user ul{
   padding-inline-start: 0px;
   margin: 12px;
}
.user i {
    font-size: 25px;
}
/*Headline*/
#product-original {
    background-image: url('../image/cms-usp-sprite_march2018.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    background-position: 0 -5px;
    width: 30px;
    height: 30px;
}
.trust {
    width: 1280px;
    height: 30px;
    margin: 0 auto;
    padding: 8px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#multi-brands {
    background-position: -170px -5px;
    width: 30px;
    height: 30px;
    background-image: url('../image/cms-usp-sprite_march2018.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
}
#free-return {
    background-position: -207px -5px;
    width: 30px;
    height: 30px;
    background-image: url('../image/cms-usp-sprite_march2018.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
}
#sustainability {
    width: 26px;
    height: 28px;
    background-image: url('../image/SUSTAINABILITY_ICONS.png');
    display: block;
    float: left;
}
#question {
    width: 26px;
    height: 28px;
    background-image: url('../image/gg_FAQ.png');
    display: block;
    float: left;
}
#app {
    background-position: 0 -80px;
    width: 300px;
    border-radius: 5px;
    height: 35px;
    fill: grey;
    background-image: url('../image/cms-usp-sprite_march2018.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
}
.trust a {
    font-size: 12px;
}
.promo img{
    margin: 0 auto;
    display: flex;
    justify-items: center;
}

/*content*/

.content {
    margin: 15px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    padding: 15px;
    width: 1000px;
}
#grid {
    text-align: center;
    position: relative;
}
#grid:hover > .grid-title {
    background-color: black;
}
.grid-title {
    top: 82%;
    left: 7%;
    background-color: white;
    position: absolute;
    width: 280px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.grid-title a {
    text-decoration: none;
    color: black;
    margin: auto;
}
#grid:hover > .grid-title > a {
    color: white;
}

/*banner*/

.banner {
    text-align: center;
}

/*new this week*/

.new h1 {
    text-align: center;
}
.item-new {
    margin: 15px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    padding: 15px;
    width: 1000px;
}
#item-new-grid {
    text-align: center;
}
#item-new-title {
    margin-top: 25px;
}

/*separator*/
.white-separator {
    margin: 100px auto;
}

/*Explanation*/
.explanation {
    width: 70%;
    margin: 40px auto;
    text-align: center;
}
.explanation p {
    line-height: 25px;
    font-size: 15px;
}